.table{
    background-color: $white-color;
    border:1px solid $medium-gray;
    border-radius:5px;
    padding:15px;
    width:100%;
    color:$default-states-color;
    

    &__wrapper{
        overflow-x: auto;
    }

    &__head{
       background-color: inherit;
       border-bottom:1px solid $medium-gray;
       display: flex;
       justify-content: space-between;
       align-items: baseline;
    }

    &__heading--text{
        background-color:inherit;
        margin: 0px;
        padding-bottom: 10px;
        color:$default-states-color;
        font-weight: 400;
    }

    &__rows--slider{
        background-color: inherit;
    }

    table{
        width: 100%;
        border-collapse: collapse;
        font-size: 16px;
        color:$black-color;
        
    }
    
    th, td {
        text-align: center;
        padding: 10px;
    }

    tr{
        border-bottom: 1px solid $medium-gray
    }

    tr:hover {
       background-color: $smoke-bg
    }
}