.error{
    color: $red-color-bottom;
    font-size:16px;
    padding: 10px;
    border:1px solid $dark-gray;
}
 //spinner
 .error-msg__wrapper{
    width:100%;
    height:200px;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: $white-color;
    border-radius: 5px;
    border: 1px solid $medium-gray;
}