.dashboard{
    display: flex;
    width:100vw;
    height:100vh;
    background:$smoke-bg;

    &__sidebar{
        width:20%;
    }

    &__header-false{
        width:80%;
        height:100vh;
    }
}