@media (max-width: 780px){
    .header{
        justify-content: space-between;
    }

    .search{
        display: none;
    }

    .dashboard{    
        &__sidebar{
            display: none;
        }
        &__header-false{
            width:100%;
            height:100vh;
            //margin-left: -60%;
        }
        &__header-true{
            width:100%;
            height:100vh;
            margin-left: -60%;
        }
        &__sidebar--mobile-false{
            width:60%;
            display: none;
        }
        &__sidebar--mobile-true{
            width:60%;
            display: block;
        }
    }
    //display logout button on mobile
    .navlinks__item:nth-of-type(3) {
        display: none;
    }
}


@media (min-width: 780px){

    .dashboard__sidebar--mobile-false{
       display: none;
    }

    .navlinks__mobile-button{
        display: none;
    }   
}
