@media (max-width: 780px){
    .header{
        justify-content: space-between;
    }

    .search{
        display: none;
    }
    
    .dashboard{    
        &__sidebar{
            display: none;
        }
        &__header{
            width:100%;
            height:100vh;
        }
    }
    //display logout button on mobile
    .navlinks__item:nth-of-type(3) {
        display: none;
    }
}


@media (min-width: 780px){
    .navlinks__mobile-button{
        display: none;
    }
  
    .navlinks:nth-child(2) {
        background: pink;
    }
}
