/*      light colors         */
.navlinks__mobile-button {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background: none;
  outline: none;
  border: none; }

.navlinks__mobile-button--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  background: none; }

.navlinks__mobile-button--line {
  width: 30px;
  height: 2px;
  background: #888888;
  margin: 3px; }

.navlinks__mobile-button:focus, .navlinks :hover {
  outline: none;
  border: none; }

.navlinks__mobile-button--wrapper:focus, .navlinks :hover .navlinks__mobile-button--line {
  background-color: #1DC7EA; }

.button__default {
  background-color: #FFFFFF;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #DDDDDD;
  outline: none;
  font-size: 15px;
  color: #333333; }
  .button__default:hover, .button__default :focus {
    border: 1px solid #1DC7EA;
    outline: none; }

.error {
  color: #bb0502;
  font-size: 16px;
  padding: 10px;
  border: 1px solid #9A9A9A; }

.statscard {
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 5px;
  border: 1px solid #DDDDDD;
  padding: 15px; }
  .statscard__info {
    display: flex;
    background-color: inherit;
    justify-content: space-between;
    align-content: center;
    padding-bottom: 10px; }
    .statscard__info--icon {
      display: flex;
      align-items: center;
      justify-items: center;
      padding: 10px 25px;
      color: #FF9500;
      font-size: 40px;
      background-color: inherit; }
    .statscard__info--wrapper {
      text-align: right; }
    .statscard__info--title {
      font-size: 20px;
      color: #777777; }
    .statscard__info--value {
      font-size: 30px;
      color: #333333; }
  .statscard__footer {
    display: flex;
    padding: 15px 0px 0px 10px;
    border-top: 1px solid #DDDDDD;
    color: #777777;
    background-color: inherit; }
    .statscard__footer--icon {
      font-size: 15px; }
    .statscard__footer--info {
      font-size: 15px;
      margin-left: 5px; }

.table {
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  padding: 15px;
  width: 100%;
  color: #777777; }
  .table__wrapper {
    overflow-x: auto; }
  .table__heading {
    background-color: inherit;
    border-bottom: 1px solid #DDDDDD;
    margin: 0px;
    padding-bottom: 10px;
    color: #777777;
    font-weight: 400; }
  .table table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
    color: #333333; }
  .table th, .table td {
    text-align: center;
    padding: 10px; }
  .table tr {
    border-bottom: 1px solid #DDDDDD; }
  .table tr:hover {
    background-color: #F5F5F5; }

.pagination-scroller {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  color: #333333;
  padding: 5px 15px;
  font-size: 16px; }
  .pagination-scroller__page {
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
    margin: 5px;
    border-radius: 100%;
    background-color: inherit;
    list-style: none;
    padding: 10px; }
  .pagination-scroller__page--false {
    border: 1px solid #DDDDDD; }
  .pagination-scroller__page--true {
    border: 1px solid #1DC7EA; }

.spinner {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px; }
  .spinner div {
    animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px; }
  .spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #9A9A9A;
    margin: -3px 0 0 -3px; }
  .spinner div:nth-child(1) {
    animation-delay: -0.036s; }
  .spinner div:nth-child(1):after {
    top: 50px;
    left: 50px; }
  .spinner div:nth-child(2) {
    animation-delay: -0.072s; }
  .spinner div:nth-child(2):after {
    top: 54px;
    left: 45px; }
  .spinner div:nth-child(2) {
    animation-delay: -0.072s; }
  .spinner div:nth-child(2):after {
    top: 54px;
    left: 45px; }
  .spinner div:nth-child(3) {
    animation-delay: -0.108s; }
  .spinner div:nth-child(3):after {
    top: 57px;
    left: 39px; }
  .spinner div:nth-child(4) {
    animation-delay: -0.144s; }
  .spinner div:nth-child(4):after {
    top: 58px;
    left: 32px; }
  .spinner div:nth-child(5) {
    animation-delay: -0.18s; }
  .spinner div:nth-child(5):after {
    top: 57px;
    left: 25px; }
  .spinner div:nth-child(6) {
    animation-delay: -0.216s; }
  .spinner div:nth-child(6):after {
    top: 54px;
    left: 19px; }
  .spinner div:nth-child(7) {
    animation-delay: -0.252s; }
  .spinner div:nth-child(7):after {
    top: 50px;
    left: 14px; }
  .spinner div:nth-child(8) {
    animation-delay: -0.288s; }
  .spinner div:nth-child(8):after {
    top: 45px;
    left: 10px; }

@keyframes spinner {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.spinner__wrapper--table {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 5px;
  border: 1px solid #DDDDDD; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  height: 100%; }

body {
  box-sizing: border-box;
  background-color: #F5F5F5; }

/*           Font Smoothing      */
body,
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
p,
.navbar,
.brand,
.btn-simple,
.alert,
a,
.td-name,
td,
button.close {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto","Helvetica Neue",Arial,sans-serif;
  font-weight: 400; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  font-weight: 300;
  margin: 30px 0 15px; }

h1, .h1 {
  font-size: 52px; }

h2, .h2 {
  font-size: 36px; }

h3, .h3 {
  font-size: 28px;
  margin: 20px 0 10px; }

h4, .h4 {
  font-size: 22px;
  line-height: 30px; }

h5, .h5 {
  font-size: 16px;
  margin-bottom: 15px; }

h6, .h6 {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase; }

p {
  font-size: 16px;
  line-height: 1.5; }

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small {
  color: #9A9A9A;
  font-weight: 300;
  line-height: 1.5; }

h1 small, h2 small, h3 small, h1 .small, h2 .small, h3 .small {
  font-size: 60%; }

h1 .subtitle {
  display: block;
  margin: 0 0 30px; }

.text-muted {
  color: #9A9A9A; }

.text-primary, .text-primary:hover {
  color: #1D62F0 !important; }

.text-info, .text-info:hover {
  color: #1DC7EA !important; }

.text-success, .text-success:hover {
  color: #87CB16 !important; }

.text-warning, .text-warning:hover {
  color: #FF9500 !important; }

.text-danger, .text-danger:hover {
  color: #FF4A55 !important; }

.header {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #DDDDDD;
  background: #FFFFFF; }
  .header__item {
    margin: 0px 10px; }
  .header__dashboard {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    color: #888888; }
    .header__dashboard-title {
      font-size: 20px;
      margin-left: 10px; }
    .header__dashboard-icon {
      font-size: 30px;
      margin: 0px 10px;
      color: #888888; }

.search {
  max-width: 40%;
  flex: 1 0 200px;
  background: inherit; }
  .search__input {
    width: 100%;
    outline: none;
    border: none;
    background-color: inherit;
    border-bottom: 1px solid #AAAAAA;
    color: #AAAAAA;
    margin-right: -20px;
    font-size: 15px; }
  .search__input:focus, .search :hover {
    color: #333333; }
  .search__button {
    background: none;
    color: #888888;
    font-size: 20px;
    outline: none;
    border: none; }
  .search__button:focus, .search :hover {
    color: #1DC7EA;
    outline: none; }

.navlinks {
  display: flex;
  color: #888888;
  align-self: stretch; }
  .navlinks__item {
    display: flex;
    background: inherit;
    align-self: stretch;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    position: relative; }
  .navlinks__item:hover {
    color: #1DC7EA; }
  .navlinks__icon {
    font-size: 25px; }
  .navlinks__icon--value {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    background: #FF4A55;
    color: #FFFFFF;
    border-radius: 50px;
    position: absolute;
    top: 10px;
    right: 10px; }
  .navlinks__msg {
    margin-left: 10px; }

@media (max-width: 780px) {
  .header {
    justify-content: space-between; }
  .search {
    display: none; }
  .navlinks__item:nth-of-type(3) {
    display: none; } }

@media (min-width: 780px) {
  .navlinks__mobile-button {
    display: none; } }

.sidebar {
  width: 100%;
  height: 100%;
  background: #888888; }
  .sidebar__heading {
    height: 70px;
    border-bottom: 1px solid #DDDDDD;
    display: flex;
    justify-content: center; }
    .sidebar__heading--wrapper {
      display: flex;
      flex-direction: row;
      align-items: center; }
    .sidebar__heading--logo {
      width: 40px;
      height: 40px; }
    .sidebar__heading--title {
      color: #FFFFFF;
      font-size: 20px;
      font-weight: 500;
      margin-left: 5px; }
  .sidebar ul {
    padding: 0;
    width: 90%;
    margin-top: 20px;
    list-style-type: none; }
  .sidebar__navlinks--wrapper {
    display: flex;
    height: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
  .sidebar__navlinks--item {
    display: flex;
    align-items: baseline;
    border-radius: 5px;
    padding: 20px;
    margin: 5px;
    background: #9A9A9A; }
  .sidebar__navlinks--item:hover {
    background: #777777; }
  .sidebar__navlinks--icon {
    color: #FFFFFF;
    font-size: 20px; }
  .sidebar__navlinks--msg {
    color: #FFFFFF;
    font-size: 15px;
    margin-left: 15px; }
  .sidebar__navLinks--signout {
    width: 90%; }

.dashboard {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-color: #F5F5F5; }
  .dashboard__sidebar {
    width: 20%; }
  .dashboard__header-false {
    width: 80%; }

@media (max-width: 780px) {
  .dashboard__sidebar {
    display: none; }
  .dashboard__header-false {
    width: 100%;
    height: 100%;
    margin-left: 0%;
    transition: margin 1s ease; }
  .dashboard__header-true {
    width: 100%;
    height: 100%;
    margin-left: -60%;
    transition: margin 1s ease; }
  .dashboard__sidebar--mobile-false {
    width: 60%;
    display: block;
    margin-right: -60%;
    transition: margin 1s ease; }
  .dashboard__sidebar--mobile-true {
    width: 60%;
    display: block;
    margin-right: 0%;
    transition: margin 1s ease; } }

@media (min-width: 780px) {
  .dashboard__sidebar--mobile-false {
    display: none; } }

.dashboardcontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: inherit;
  padding: 10px; }
  .dashboardcontent__statscards {
    display: flex;
    flex: 1;
    background-color: inherit;
    justify-content: space-between; }
    .dashboardcontent__statscards--item {
      flex: 1 1 20%;
      margin: 10px; }
  .dashboardcontent__table {
    padding: 10px; }

@media (max-width: 1280px) {
  .dashboardcontent__statscards {
    flex-wrap: wrap; }
    .dashboardcontent__statscards--item {
      flex: 1 1 40%; } }
