/*      light colors         */
/*     General overwrite resets     */
body,
.wrapper {
  min-height: 100vh;
  position: relative;
  background-color: white; }

a {
  color: #1DC7EA; }
  a:hover, a:focus {
    color: #42d0ed;
    text-decoration: none; }

p {
  margin: 0px; }

a:focus, a:active,
button::-moz-focus-inner,
input::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  outline: 0; }

.ui-slider-handle:focus,
.navbar-toggle,
input:focus {
  outline: 0 !important; }

/*           Animations              */
.form-control,
.input-group-addon,
.tagsinput,
.navbar,
.navbar .alert {
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear; }

.sidebar .nav a,
.table > tbody > tr .td-actions .btn {
  -webkit-transition: all 150ms ease-in;
  -moz-transition: all 150ms ease-in;
  -o-transition: all 150ms ease-in;
  -ms-transition: all 150ms ease-in;
  transition: all 150ms ease-in; }

.btn {
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  -o-transition: all 100ms ease-in;
  -ms-transition: all 100ms ease-in;
  transition: all 100ms ease-in; }

.fa {
  width: 18px;
  text-align: center; }

.margin-top {
  margin-top: 50px; }

.wrapper {
  position: relative;
  top: 0;
  height: 100vh; }

/*           Font Smoothing      */
body,
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
p,
.navbar,
.brand,
.btn-simple,
.alert,
a,
.td-name,
td,
button.close {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto","Helvetica Neue",Arial,sans-serif;
  font-weight: 400; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  font-weight: 300;
  margin: 30px 0 15px; }

h1, .h1 {
  font-size: 52px; }

h2, .h2 {
  font-size: 36px; }

h3, .h3 {
  font-size: 28px;
  margin: 20px 0 10px; }

h4, .h4 {
  font-size: 22px;
  line-height: 30px; }

h5, .h5 {
  font-size: 16px;
  margin-bottom: 15px; }

h6, .h6 {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase; }

p {
  font-size: 16px;
  line-height: 1.5; }

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small {
  color: #9A9A9A;
  font-weight: 300;
  line-height: 1.5; }

h1 small, h2 small, h3 small, h1 .small, h2 .small, h3 .small {
  font-size: 60%; }

h1 .subtitle {
  display: block;
  margin: 0 0 30px; }

.text-muted {
  color: #9A9A9A; }

.text-primary, .text-primary:hover {
  color: #1D62F0 !important; }

.text-info, .text-info:hover {
  color: #1DC7EA !important; }

.text-success, .text-success:hover {
  color: #87CB16 !important; }

.text-warning, .text-warning:hover {
  color: #FF9500 !important; }

.text-danger, .text-danger:hover {
  color: #FF4A55 !important; }

.header {
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.125); }
  .header__item {
    margin: 0px 10px; }
  .header__dashboard {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    color: #888888; }
    .header__dashboard-title {
      font-size: 20px;
      margin-left: 10px; }
    .header__dashboard-icon {
      font-size: 30px;
      margin: 0px 10px;
      color: #888888; }

.search {
  flex: 1 0 30%;
  background: inherit; }
  .search__input {
    width: 100%;
    outline: none;
    border: none;
    background-color: inherit;
    border-bottom: 1px solid #AAAAAA;
    color: #AAAAAA;
    margin-right: -35px;
    font-size: 15px; }
  .search__input:focus {
    color: #333333; }
  .search__button {
    background: inherit;
    color: #888888;
    outline: none;
    border: none; }
  .search__button:focus {
    transform: translateY(-3px);
    outline: none; }

.navlinks {
  display: flex;
  color: #888888;
  align-self: stretch; }
  .navlinks__item {
    display: flex;
    background: inherit;
    align-self: stretch;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    position: relative; }
  .navlinks__item:hover {
    background: #E3E3E3;
    color: #333333; }
  .navlinks__icon {
    font-size: 25px; }
  .navlinks__icon--value {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    background: #FF4A55;
    color: #FFFFFF;
    border-radius: 50px;
    position: absolute;
    top: 10px;
    right: 10px; }
  .navlinks__msg {
    margin-left: 10px; }
